<!-- <table>
  <thead>
    <tr>
      <th>שם עובד</th>
      <th>משפחה</th>
      <th>תעודת זהות</th>
      <th>תאריך תחילת עבודה</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of _employeeService.employees">
      <ng-container *ngIf="employee.status">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.id }}</td>
        <td>{{ employee.startDate }}</td>
        <td><button (click)="delete(employee.id)">&#9932;</button></td>
        <td>&#9998;</td>
      </ng-container>
    </tr>
  </tbody>
</table> -->



<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> שם פרטי </th>
    <td mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> שם משפחה </th>
    <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
  </ng-container>

  <!-- ID Number Column -->
  <ng-container matColumnDef="tz">
    <th mat-header-cell *matHeaderCellDef> ת.ז. </th>
    <td mat-cell *matCellDef="let employee"> {{employee.tz}} </td>
  </ng-container>

  <!-- Start Date Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> תאריך תחילת עבודה </th>
    <td mat-cell *matCellDef="let employee"> {{employee.startDate | date}} </td>
  </ng-container>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let employee; columns: displayedColumns;"></tr>
</table>
