<!-- <form [formGroup]="this.editEmployeeForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">שם פרטי</label>
      <input formControlName="firstName" />

    </div>
  
    <div>
      <label for="lastName">שם משפחה</label>
      <input formControlName="lastName"  />
    </div>
  
    <div>
      <label for="bornDate">תאריך לידה:</label>
      <input type="date" formControlName="bornDate" /> -->
<!-- <input type="date" formControlName="bornDate" [value]="currentEmployee.bornDate"/> -->
<!-- </div>
  
    <div>
      <label for="startDate">תאריך תחילת עבודה:</label>
      <input type="date" formControlName="startDate" />
    </div>
  
    <div>
      <label>מגדר:</label>
      <label>
        <input type="radio" formControlName="isMale" value="true" /> זכר
      </label>
      <label>
        <input type="radio" formControlName="isMale" value="false" /> נקבה
      </label>
    </div>-->

<!-- תצוגת פרטי העבודה -->
<!-- <div formArrayName="roles">
      <div *ngFor="let role of rolesFormArray.controls; let i = index">
        <div [formGroupName]="i">
          <label>פרטי עבודה {{ i + 1 }}</label>
          <div>
            <label for="typesOfRolesId">סוג העבודה:</label>
            <select formControlName="typesOfRolesId">
              <option *ngFor="let typeOfRole of typeOfRoles" [value]="typeOfRole.id">{{ typeOfRole.name }}</option>
            </select>
          </div>
          <div>
            <label>האם ניהולי:</label>
            <label>
              <input type="radio" formControlName="isManagement" value="true" />
              כן
            </label>
            <label>
              <input type="radio" formControlName="isManagement" value="false" />
              לא
            </label>
          </div>
          <div>
            <label for="dateOfEntryIntoWork">תאריך כניסה לעבודה:</label>
            <input type="date" formControlName="dateOfEntryIntoWork" />
          </div>
          <button type="button" (click)="removeRole(i)">מחק עבודה זו</button>
        </div>
      </div>
    </div> -->

<!-- <button type="button" (click)="addRole()">הוסף עבודה חדשה</button> -->
<!-- <button type="submit">עדכן</button>
  </form>
   -->
<form [formGroup]="editEmployeeForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">שם פרטי</label>
    <input formControlName="firstName" />
  </div>
</form>
